<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osd.sync.mapper.mydb.SurchargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.osd.sync.entity.mydb.SurchargeEntity">
        <id column="SC_id" property="scId" />
        <result column="SC_SerialNum" property="scSerialnum" />
        <result column="SC_Name" property="scName" />
        <result column="SC_Price" property="scPrice" />
        <result column="SC_Remark" property="scRemark" />
        <result column="SC_CreateTime" property="scCreatetime" />
        <result column="SC_UpdateTime" property="scUpdatetime" />
        <result column="SC_Res1" property="scRes1" />
        <result column="SC_Res2" property="scRes2" />
        <result column="SC_Res3" property="scRes3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SC_id, SC_SerialNum, SC_Name, SC_Price, SC_Remark, SC_CreateTime, SC_UpdateTime, SC_Res1, SC_Res2, SC_Res3
    </sql>

</mapper>
