<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osd.sync.mapper.mydb.UsercardinfoMapper">

    <select id="selectCard" resultType="com.osd.sync.entity.mydb.UsercardinfoEntity">
        SELECT *  FROM usercardinfo
    </select>

</mapper>
