<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osd.sync.mapper.UserCardMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.osd.sync.model.UserCardModel">
        <result column="CSM_id" property="csmId" />
        <result column="CSM_Name" property="csmName" />
        <result column="CSM_TEl1" property="csmTel1" />
        <result column="CSM_TEL2" property="csmTel2" />
        <result column="CSM_Addr" property="csmAddr" />
        <result column="Community_Comm_id" property="communityCommId" />
        <result column="CSM_IsBlacklist" property="csmIsblacklist" />
        <result column="CSM_IsOpened" property="csmIsopened" />
        <result column="CSM_Employeeid" property="csmEmployeeid" />
        <result column="CSM_IsDeleted" property="csmIsdeleted" />
        <result column="CSM_Remark" property="csmRemark" />
        <result column="CSM_CreateTime" property="csmCreatetime" />
        <result column="CSM_UpdateTime" property="csmUpdatetime" />
        <result column="CSM_OpenTime" property="csmOpentime" />
        <result column="CSM_Res1" property="csmRes1" />
        <result column="CSM_Res2" property="csmRes2" />
        <result column="CSM_Res3" property="csmRes3" />
        <result column="Card_id" property="cardId" />
        <result column="Card_BuyCount" property="cardBuycount" />
        <result column="Card_WmType" property="cardWmtype" />
        <result column="Card_WmVersion" property="cardWmversion" />
        <result column="Card_WmPos" property="cardWmpos" />
        <result column="Card_WmInitValue" property="cardWminitvalue" />
        <result column="Card_Employeeid" property="cardEmployeeid" />
        <result column="Card_Remark" property="cardRemark" />
        <result column="Card_IsAvailable" property="cardIsavailable" />
        <result column="Card_Res1" property="cardRes1" />
        <result column="Card_Res2" property="cardRes2" />
        <result column="Card_Res3" property="cardRes3" />
        <result column="Card_CreateTime" property="cardCreatetime" />
        <result column="Card_UpdateTime" property="cardUpdatetime" />
        <result column="waterprice_WP_id" property="waterpriceWpId" />
        <result column="Card_WmAccumulatedWater" property="cardWmaccumulatedwater" />
        <result column="Card_last_remain_money" property="cardLastRemainMoney" />
        <result column="Card_today_remain_money" property="cardTodayRemainMoney" />
    </resultMap>

    <select id="userCardModels" resultType="com.osd.sync.model.UserCardModel">
        SELECT *  FROM consumer a LEFT JOIN usercardinfo b ON a.`CSM_id`=b.`Card_id`
    </select>
</mapper>
